NEXT_PUBLIC_BASE_URL="https://docs.agentcoqui.com"

# Analytics (Umami)
NEXT_PUBLIC_UMAMI_WEBSITE_ID="727c69c5-1e7e-4d7b-bb22-49ed2d58e71f"
NEXT_PUBLIC_UMAMI_SRC_URL="https://go.coqui.bot/script.js"
# NEXT_PUBLIC_UMAMI_HOST_URL="https://go.coqui.bot"
# NEXT_PUBLIC_ENABLE_UMAMI="true"
# NEXT_PUBLIC_UMAMI_DOMAINS="docs.agentcoqui.com"
# NEXT_PUBLIC_UMAMI_DEBUG="false"